---
import Icon from "./Icon.astro";
import Tag from "./Tag.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="code" />
    <h2>Web</h2>
    <p>
      Expertise in developing and collaborating with designers, user
      researchers, and product to build awesome user experiences.
    </p>
    <div class="tags">
      <Tag tagCategory="language">TypeScript</Tag>
      <Tag tagCategory="language">Node</Tag>
      <Tag tagCategory="language">Bun</Tag>
      <Tag tagCategory="library">React</Tag>
      <Tag tagCategory="framework">Next.js</Tag>
      <Tag tagCategory="framework">Express</Tag>
      <Tag tagCategory="framework">Apollo GraphQL</Tag>
      <Tag tagCategory="other">Vite</Tag>
      <Tag tagCategory="other">Webpack</Tag>
    </div>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="database" />
    <h2>Data</h2>
    <p>
      Experience in building scalable and data intensive services to serve data,
      analytics, and insights.
    </p>
    <div class="tags">
      <Tag tagCategory="language">Java</Tag>
      <Tag tagCategory="language">Kotlin</Tag>
      <Tag tagCategory="language">Python</Tag>
      <Tag tagCategory="language">SQL</Tag>
      <Tag tagCategory="framework">Spring Boot</Tag>
      <Tag tagCategory="framework">Kafka</Tag>
      <Tag tagCategory="framework">Event-Driven</Tag>
      <Tag tagCategory="framework">Serverless</Tag>
      <Tag tagCategory="database">PostgreSQL</Tag>
      <Tag tagCategory="database">Redis</Tag>
      <Tag tagCategory="database">Elasticsearch</Tag>
      <Tag tagCategory="database">Cosmos DB</Tag>
      <Tag tagCategory="database">Azure Blob Storage</Tag>
      <Tag tagCategory="other">REST</Tag>
    </div>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="settings" />
    <h2>DevOps/Delivery</h2>
    <p>
      Knowledge in upgrading the developer experience by configuring pipelines
      to support continuous integration and delivery (CI/CD).
    </p>
    <div class="tags">
      <Tag tagCategory="other">Docker</Tag>
      <Tag tagCategory="other">Kubernetes</Tag>
      <Tag tagCategory="other">ArgoCD</Tag>
      <Tag tagCategory="other">Azure</Tag>
      <Tag tagCategory="other">Azure DevOps</Tag>
      <Tag tagCategory="other">Terraform</Tag>
      <Tag tagCategory="other">Datadog</Tag>
      <Tag tagCategory="other">GitOps</Tag>
      <Tag tagCategory="other">LaunchDarkly</Tag>
      <Tag tagCategory="other">IAM (SAML, OAuth2, SCIM)</Tag>
      <Tag tagCategory="other">Azure Functions</Tag>
    </div>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  .skills .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: xx-small;
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
